

body {
    background-color : white;
    color : black;
  }


a:link {
    color: #0850A2;
    text-decoration: none;
  }


a:visited {
    color: #21626C;
    text-decoration: none;
  }


a.el {
    font-weight : bold;
  }


hr {
    display:block;
    border : none;
    height : 1px;
    background-color : #777;
  }


h1 {
    font-size : 150%;
    color : #354;
  }


h2 {
    font-size : 135%;
    color : #243;
  }


h3 {
    font-size : 120%;
  }


div#footer {
    background : #eef3f5;
    font-size : 90%;
    padding : 5px;
    margin : 5px;
    border : #dfdfee solid 1px;
    color : #0850A2;
    text-align : right;
  }


.mdescRight {
    color : #555;
    font-style : italic;
  }


pre {
    padding: 0.3em;
    margin : 0.2em;
    border: #ccc 1px solid;
    background: #f0f0f0;
    color: black;
  }


span.preprocessor, span.preprocessor a {
    color : darkgreen;
  }


span.comment {
    color: #555;
    font-style: italic;
  }


span.string,span.stringliteral,span.char {
    color: #aa0000;
  }

span.keyword {
    font-weight: bold;
    color: #771;
}

/* dokumentacia clenov */

.memnav { 
  background-color: #e8eef2;
  border: 1px solid #84b0c7;
  text-align: center;
  margin: 2px;
  margin-right: 15px;
  padding: 2px;
}

.memitem {
  padding: 4px;
 /* background-color: #eef3f5;*/
  background-color: #f6f8ff;
  border : #dfdfee solid 1px;
}

.memname {
  white-space: nowrap;
  font-weight: bold;
}

table.memname tr {
  display : inline;
}

table.memname tr td {
  display : inline;
}

.memdoc{
  padding-left: 5px;
}

.memtemplate {
  font-size: 90%;
  color: #555;
  font-weight: normal;
}

.memproto {
  width: 100%;
  background-color: #d8e5ea;
  border: #88b6d0 solid 1px;
  font-weight: bold;
}

.paramkey {
  text-align: right;
}
.paramtype {
  white-space: nowrap;
}
.paramname {
  color: #263;
  font-style: italic;
}

